<html>
<body>
<h1>Welcome to Fancy Health</h1>
<form action="/login" method="post">
  帳號:<br>
  <input type="text" name="account"><br>
  密碼:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>